<html>
    <head>
        <title>

        </title>
        <link rel="stylesheet" href="/assets/leaflet/leaflet.css"/>

        <link rel="stylesheet" href="/assets/css/default.css"/>

    </head>
    <body>        
        <center>
            <!--<h1>  WiaBox.Net Nodes </h1>-->
            <div id="mapid"></div>
        </center>
        <script src="/assets/leaflet/leaflet.js"></script>

        <script src="/assets/js/main.js"></script>

    </body>
</html>
