<html>

<head>
    <title>
        Wiabox Map
    </title>
    <link rel="stylesheet" href="/assets/leaflet/leaflet.css" />

    <link rel="stylesheet" href="/assets/css/default.css" />

</head>

<body>
    <center>
        <!--<h1>  WiaBox.Net Nodes </h1>-->
        <div id="mapid"></div>
    </center>
    <script src="/assets/leaflet/leaflet.js"></script>

    <script src="/assets/js/main.js"></script>
    <script>
        var markers = []
        var i= 0
        <% nodes.forEach(function(node){ %>
            var tmp = L.marker([<%=node.latitude%> ,<%=node.longitude%>]).addTo(mymap);
            tmp.bindPopup("<center><b>" + <%=node.name%> + "</b><br>" + <%=node.description%> + "</center>");
            markers.push(tmp);
        <% })%>
    </script>
</body>

</html>